.featured-games {
    border-radius: 23px;
    background-color: #1f2122;
    padding: 30px;
}

.featured-games .item .thumb {
    position: relative;
    overflow: hidden;
}

.featured-games .item .thumb .hover-effect {
    position: absolute;
    bottom: -100px;
    text-align: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.featured-games .item .thumb:hover .hover-effect {
    opacity: 1;
    visibility: visible;
    bottom: 15px;
}

.featured-games .item .thumb .hover-effect h6 {
    background-color: rgba(31, 33, 34, 0.95);
    display: inline-block;
    color: #ec6090;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 25px;
}

.featured-games .item img {
    border-radius: 23px;
}

.featured-games .item h4 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
}

.featured-games .item span {
    color: #666;
    display: block;
    margin-top: 7px;
    font-weight: 400;
}

.featured-games .item ul {
    float: right;
    margin-top: 20px;
}

.featured-games .item ul li {
    text-align: right;
    color: #fff;
    font-size: 14px;
}

.featured-games .item ul li:first-child i {
    color: yellow;
}

.featured-games .item ul li:last-child i {
    color: #ec6090;
}
.owl-carousel.owl-loaded {
    display: block;
}

.featured-games .owl-nav {
    position: absolute;
    margin: 0 auto;
    top: -70px;
    right: 0;
}

.featured-games .owl-nav .owl-prev {
    margin-right: 2.5px;
}

.featured-games .owl-nav .owl-next {
    margin-left: 2.5px;
}

.featured-games .owl-nav .owl-prev span,
.featured-games .owl-nav .owl-next span {
    font-size: 36px;
    display: inline-block;
    color: #666;
    opacity: 1;
    transition: all .3s;
}

.featured-games .owl-nav .owl-prev span:hover,
.featured-games .owl-nav .owl-next span:hover {
    opacity: 1;
    color: #ec6090;
}

.top-downloaded {
    border-radius: 23px;
    background-color: #1f2122;
    padding: 30px;
    max-height: 567px;
    min-height: 567px;
}

.top-downloaded ul li {
    position: relative;
    display: inline-block;
    width: 100%;
}

.top-downloaded ul li img {
    float: left;
    margin-right: 15px;
}

.top-downloaded ul li h4 {
    font-size: 15px;
    padding-top: 7px;
}

.top-downloaded ul li h6 {
    font-size: 15px;
    color: #666;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-downloaded ul li span {
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
}

.top-downloaded ul li .download i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-23px);
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: #ec6090;
    background-color: #27292a;
    border-radius: 50%;
}

.top-downloaded ul li {
    border-bottom: 1px solid #27292a;
    margin-bottom: 28px;
    padding-bottom: 28px;
}

.top-downloaded .text-button {
    text-align: center;
}

.top-downloaded .text-button a {
    font-weight: 600;
    color: #ec6090;
    font-size: 15px;
}

.start-stream .heading-section {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.start-stream .item {
    padding: 30px;
    border: 1px solid #444;
    border-radius: 23px;
}

.start-stream .item h4 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.start-stream .main-button {
    text-align: center;
    margin-top: 30px;
}

.live-stream {
    margin-top: 60px;
    border-radius: 23px;
    background-color: #1f2122;
    padding: 30px;
}

.live-stream .item {
    margin-bottom: 30px;
}
.start-stream .item .icon img {
    max-width: 60px; 
    border-radius: 50%;
}
.start-stream .item p {
    font-size: 15px;
    color: #666;
    line-height: 30px;
    margin-bottom: 30px;
}

.live-stream .thumb {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.live-stream .thumb img {
    border-radius: 23px;
}

.live-stream .thumb:hover .hover-effect {
    opacity: 1;
    visibility: visible;
}

.live-stream .hover-effect {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.live-stream .hover-effect .live a {
    position: absolute;
    background-color: rgba(236, 96, 144, 0.9);
    padding: 5px 10px;
    border-radius: 23px;
    color: #fff;
    font-size: 14px;
    right: 15px;
    top: 15px;
}

.live-stream .hover-effect ul {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.live-stream .hover-effect ul li {
    display: inline-block;
    margin: 0px 5px;
}

.live-stream .hover-effect ul li a {
    background-color: rgba(236, 96, 144, 0.9);
    padding: 5px 10px;
    border-radius: 23px;
    color: #fff;
    font-size: 14px;
}

.live-stream .avatar img {
      max-width: 46px;
      border-radius: 50%;
      float: left;;
      margin-right: 15px;
}

.live-stream span i {
    color: #fff;
    background-color: #ec6090;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-right: 3px;
    vertical-align: middle;
}


.live-stream span {
    margin-bottom: 15px;
    font-size: 14px;
    color: #ec6090;

}

.live-stream .down-content h4 {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 61px;
}

.live-stream .main-button {
    text-align: center;
    margin-bottom: -53px;
}


.top-downloaded ul li img {
    margin-right: 10px;
}

.top-downloaded ul li span {
    font-size: 14px;
}

.heading-section h4 {
    color: #ec6090;
    font-size: 34px;
    text-decoration: none;
    margin-bottom: 30px;
}

.heading-section h4 em {
    color: #fff;
    font-style: normal;
    text-decoration: underline;
}


.owl-carousel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}

.owl-carousel .owl-stage-outer{
    position: relative;
    overflow: hidden;
    --webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-item {
    width: 178.667px; 
    margin-right: 30px;
}
.owl-carousel .owl-item{
    position: relative;
    min-height: 1px;
    float: left;
    --webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
div {
    display: block;
    unicode-bidi: isolate;
}